{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css" />
{% endblock %}
{% block content %}
<div class="container" id="cuerpoPagina">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12 title">
                    <div class="col-lg-12">
                        <h1>Sistema Solar</h1>
                    </div>
                    <div class="col-lg-8">
                        <p>El sistema solar es el sistema planetario en el que se encuentran la Tierra y otros objetos astronómicos que giran
                            directa o indirectamente en una órbita alrededor de una única estrella conocida como el Sol.
                        </p>
                        <p>La estrella concentra el 99,75 % de la masa del sistema solar,​ y la mayor parte de la masa restante se
                            concentra en ocho planetas cuyas órbitas son prácticamente circulares y transitan dentro de un disco casi llano
                            llamado plano eclíptico.5​ Los cuatro planetas más cercanos, considerablemente más pequeños Mercurio, Venus,
                            Tierra y Marte, también conocidos como los planetas terrestres, están compuestos principalmente por roca y metal.
                            ​Mientras que los cuatro más alejados, denominados gigantes gaseosos o "planetas jovianos", más masivos que los terrestres,
                            están compuesto de hielo y gases. Los dos más grandes, Júpiter y Saturno, están compuestos principalmente de helio e hidrógeno.
                            Urano y Neptuno, denominados los gigantes helados, están formados mayoritariamente por agua congelada, amoniaco y metano.
                        </p>
                        <p>El Sol es el único cuerpo celeste del sistema solar que emite luz propia, debido a la fusión termonuclear del hidrógeno
                            y su transformación en helio en su núcleo. El sistema solar se formó hace unos 4600 millones de años​ a partir
                            del colapso de una nube molecular. El material residual originó un disco circunestelar protoplanetario en el que ocurrieron
                            los procesos físicos que llevaron a la formación de los planetas. El sistema solar se ubica en la actualidad en la nube
                            Interestelar Local que se halla en la Burbuja Local del brazo de Orión, de la galaxia espiral Vía Láctea, a unos 28 000
                            años luz del centro de esta.
                        </p>
                        <p>El sistema solar es también el hogar de varias regiones compuestas por objetos pequeños. El cinturón de asteroides,
                            ubicado entre Marte y Júpiter, es similar a los planetas terrestres ya que está constituido principalmente por roca
                            y metal. En este cinturón se encuentra el planeta enano Ceres. Más allá de la órbita de Neptuno están el cinturón de
                            Kuiper, el disco disperso y la nube de Oort, que incluyen objetos transneptunianos formados por agua, amoníaco y metano
                            principalmente. En este lugar existen cuatro planetas enanos Haumea, Makemake, Eris y Plutón, el cual fue considerado
                            el noveno planeta del sistema solar hasta 2006. Este tipo de cuerpos celestes ubicados más allá de la órbita de Neptuno
                            son también llamados plutoides, los cuales junto a Ceres, poseen el suficiente tamaño para que se hayan redondeado por
                            efectos de su gravedad, pero que se diferencian principalmente de los planetas porque no han vaciado su órbita de
                            cuerpos vecinos.
                        </p>
                        <p>Adicionalmente a los miles de objetos pequeños de estas dos zonas, algunas docenas de los cuales son candidatos
                            a planetas enanos, existen otros grupos como cometas, centauros y polvo cósmico que viajan libremente entre regiones.
                            Seis planetas y tres planetas enanos poseen satélites naturales. El viento solar, un flujo de plasma del Sol, crea
                            una burbuja de viento estelar en el medio interestelar conocido como heliosfera, la que se extiende hasta el borde
                            del disco disperso. La nube de Oort, la cual se cree que es la fuente de los cometas de período largo, es el límite
                            del sistema solar y su borde está ubicado a un año luz desde el Sol.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Planetas_del_Sistema_Solar_a_escala..png/330px-Planetas_del_Sistema_Solar_a_escala..png" class="imagen">
                        <br>
                        <br>
                        <img src="http://legacy.spitzer.caltech.edu/espanol/edu/askkids/images/asteroidbelt.gif" class="imagen">
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 title">
                    <div class="col-lg-12">
                       <h2>Descubrimientos y exploración</h2>
                    </div>
                    <div class="col-lg-8">
                       <p>Algunas de las más antiguas civilizaciones concibieron al universo desde una perspectiva
                           geocéntrica, como en Babilonia en donde su visión del mundo estuvo representada de esta forma.
                           En Occidente, el griego presocrático Anaximandro declaró a la Tierra como centro del universo,
                           imaginó a esta como un pilar en forma de tambor equilibrado en sus cuatro puntos más distantes
                           lo que, en su opinión, le permitió tener estabilidad. Pitágoras y sus seguidores hablaron por
                           primera vez del planeta como una esfera, basándose en la observación de los eclipses;​ y en el
                           siglo IV a. C. Platón junto a su estudiante Aristóteles escribieron textos del modelo geocéntrico
                           de Anaximandro, fusionándolo con el esférico pitagórico. Pero fue el trabajo del astrónomo heleno
                           Claudio Ptolomeo, especialmente su publicación llamada Almagesto expuesta en el siglo II de nuestra
                           era, el cual sirvió durante un período de casi 1300 años como la norma en la cual se basaron tanto
                           astrónomos europeos como islámicos .
                       </p>
                        <p>
                            Si bien el griego Aristarco presentó en el siglo siglo III a. C. a la teoría heliocéntrica
                            y más adelante el matemático hindú Aryabhata hizo lo mismo, ningún astrónomo desafió realmente
                            el modelo geocéntrico hasta la llegada del polaco Nicolás Copérnico el cual causó una verdadera
                            revolución en esta rama a nivel mundial, por lo cual es considerado el padre de la astronomía
                            moderna. Esto debido a que, a diferencia de sus antecesores, su obra consiguió una amplia difusión
                            pese a que fue concebida para circular en privado; el papa Clemente VII pidió información de este
                            texto en 1533 y Lutero en el año 1539 lo calificó de "astrólogo advenedizo que pretende probar que
                            la Tierra es la que gira". La obra de Copérnico otorga dos movimientos a la tierra, uno de
                            rotación en su propio eje cada 24 horas y uno de traslación alrededor del Sol cada año, con
                            la particularidad de que este era circular y no elíptico como lo describimos hoy.
                        </p>
                        <p>
                            En el siglo XVII el trabajo de Copérnico fue impulsado por científicos como Galileo Galilei,
                            quien ayudado con un nuevo invento, el telescopio, descubre que alrededor de Júpiter rotan
                            satélites naturales que afectaron en gran forma la concepción de la teoría geocéntrica ya que
                            estos cuerpos celestes no orbitaban a la Tierra;​ lo que ocasionó un gran conflicto entre
                            la iglesia y los científicos que impulsaban esta teoría, el cual culminó con el apresamiento
                            y sentencia del tribunal de la inquisición a Galileo por herejía al estar su idea contrapuesta
                            con el modelo clásico religioso. Su contemporáneo Johannes Kepler, a partir del estudio de
                            la órbita circular intentó explicar la traslación planetaria sin conseguir ningún resultado,​
                            por lo que reformuló sus teorías y publicó, en el año 1609, las hoy conocidas Leyes de Kepler
                            en su obra Astronomia Nova, en la que establece una órbita elíptica la cual se confirmó cuando
                            predijo satisfactoriamente el tránsito de Venus del año 1631. Junto a ellos el científico
                            británico Isaac Newton formuló y dio una explicación al movimiento planetario mediante sus
                            leyes y el desarrollo del concepto de la gravedad.
                        </p>
                        <p>
                            En el año 1704 se acuñó el término sistema solar. El científico británico Edmund Halley
                            dedicó sus estudios principalmente al análisis de las órbitas de los cometas.
                            El mejoramiento del telescopio durante este tiempo permitió a los científicos de todo
                            el mundo descubrir nuevas características de los cuerpos celestes que existen. A mediados
                            del siglo XX, el 12 de abril de 1961, el cosmonauta Yuri Gagarin se convirtió en el primer
                            hombre en el espacio; la misión estadounidense Apolo 11 al mando de Neil Armstrong llega
                            a la Luna. En la actualidad, el sistema solar se estudia con ayuda de telescopios terrestres,
                            observatorios espaciales y misiones espaciales.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Protoplanetary-disk.jpg/300px-Protoplanetary-disk.jpg" class="imagen">
                        <br>
                        <br>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Solar_sys.jpg/300px-Solar_sys.jpg" class="imagen">
                        <br>
                        <br>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAWf6_HJ8yzIfjpkeef7IVuyvwVpe7H9SYo5S7XGXwApnSZec2" class="imagen">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-12 title">
                    <div class="col-lg-12">
                        <h2>Características generales</h2>
                    </div>
                    <div class="col-lg-9">
                        <p>
                            Los planetas y los asteroides orbitan alrededor del Sol, aproximadamente en un mismo plano
                            y siguiendo órbitas elípticas (en sentido antihorario, si se observasen desde el Polo Norte
                            del Sol); aunque hay excepciones, como el cometa Halley, que gira en sentido horario.​ El
                            plano en el que gira la Tierra alrededor del Sol se denomina plano de la eclíptica, y los
                            demás planetas orbitan aproximadamente en el mismo plano. Aunque algunos objetos orbitan con
                            un gran grado de inclinación respecto de este, como Plutón que posee una inclinación con
                            respecto al eje de la eclíptica de 17º, así como una parte importante de los objetos del
                            cinturón de Kuiper.
                        </p>
                        <p>
                            Según sus características, los cuerpos que forman parte del sistema solar se clasifican como sigue:
                            <br>
                             - El Sol, una estrella de tipo espectral G2 que contiene más del 99,85 % de la masa del sistema.
                            Con un diámetro de 1 400 000 km, se compone de un 75 % de hidrógeno, un 20 % de helio y 5 %
                            de oxígeno, carbono, hierro y otros elementos.
                            <br>
                            - Los planetas, divididos en planetas interiores (también llamados terrestres o telúricos)
                                y planetas exteriores o gigantes. Entre estos últimos Júpiter y Saturno se denominan
                                gigantes gaseosos, mientras que Urano y Neptuno suelen nombrarse gigantes helados. Todos
                                los planetas gigantes tienen a su alrededor anillos.
                            <br>
                            - Los planetas enanos son cuerpos cuya masa les permite tener forma esférica, pero no es la
                            suficiente como para haber atraído o expulsado a todos los cuerpos a su alrededor. Son: Plutón
                            (hasta 2006 era considerado el noveno planeta del sistema solar​), Ceres, Makemake, Eris y Haumea.
                            <br>
                            - Los satélites son cuerpos mayores que orbitan los planetas; algunos son de gran tamaño,
                            como la Luna, en la Tierra; Ganímedes, en Júpiter, o Titán, en Saturno.
                            <br>
                            - Los cuerpos menores:
                                + Los asteroides son cuerpos menores concentrados mayoritariamente en el cinturón de
                            asteroides entre las órbitas de Marte y Júpiter, y otra más allá de Neptuno. Su escasa masa
                            no les permite tener forma regular.
                            <br>
                                + Los objetos del cinturón de Kuiper son objetos helados exteriores en órbitas estables,
                                    los mayores de los cuales son Sedna y Quaoar.
                            <br>
                                + Los cometas son objetos helados pequeños provenientes de la nube de Oort.
                            <br>
                                + Los meteoroides son objetos menores de 50 m de diámetro, pero mayores que las partículas de polvo cósmico.
                        </p>
                        <p>
                            El espacio interplanetario en torno al Sol contiene material disperso procedente de la
                            evaporación de cometas y del escape de material proveniente de los diferentes cuerpos masivos.
                            El polvo interplanetario (especie de polvo interestelar) está compuesto de partículas
                            microscópicas sólidas. El gas interplanetario es un tenue flujo de gas y partículas cargadas
                            que forman un plasma que es expulsado por el Sol en el viento solar. El límite exterior del
                            sistema solar se define a través de la región de interacción entre el viento solar y el medio
                            interestelar originado de la interacción con otras estrellas. La región de interacción entre
                            ambos vientos se denomina heliopausa y determina los límites de influencia del Sol. La heliopausa
                            puede encontrarse a unas 100 UA (15 000 millones de kilómetros del Sol).
                        </p>
                        <p>
                            Los sistemas planetarios detectados alrededor de otras estrellas parecen muy diferentes del
                            sistema solar, si bien con los medios disponibles solo es posible detectar algunos planetas
                            de gran masa en torno a otras estrellas. Por tanto, no parece posible determinar hasta qué
                            punto el sistema solar es característico o atípico entre los sistemas planetarios del Universo.
                        </p>
                    </div>
                    <div class="col-lg-3">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Copernicus.jpg/200px-Copernicus.jpg" class="imagen">
                        <br>
                        <br>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Solar_prominence_from_STEREO_spacecraft_September_29%2C_2008.jpg/200px-Solar_prominence_from_STEREO_spacecraft_September_29%2C_2008.jpg" class="imagen">
                        <br>
                        <br>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Montagem_Sistema_Solar.jpg/197px-Montagem_Sistema_Solar.jpg" class="imagen">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
