body{
    padding-top: 50px;
}

#layout {
    background-color: #1A1715;
}
#blanco {
    color:whitesmoke;
}

#cuerpoPagina {
    background-color: whitesmoke;
}
#body {
    background-color: lightgrey;
}

#editar{
    color: green;
}
#deleteForm{
    color: red;
}
#info{
    color: deepskyblue;
}
